.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav1 {
  width: 10%;
}

.nav2 {
  width: 40%;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.nav2 button {
  background-color: black;
  color: white;
  /* padding: 10px; */
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.heroSection {
  height: 100vh;
  overflow: hidden;
  /* border: 1px solid black; */
}

.heroSection img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.heroCaption {
  transform: translate(100px, -600px);
}

.heroCaption h1 {
  font-size: 80px;
  color: white;
}

.heroCaption p {
  font-size: 20px;
  color: white;
}

.heroCaption .button {
  background-color: #ff4300;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 20%;
  text-align: center;
  padding: 20px;
  border-radius: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.heroCaption span {
  color: white;
  font-weight: bold;
}

.heroFooter {
  background-color: none;
  /* border: 1px solid white; */
  transform: translateY(20px);
}

.heroFooter p {
  font-size: 16px;
}

.heroFooter span {
  font-size: 30px;
  margin-right: 50px;
}

.sectionTwo {
  padding-top: 50px;
  padding-bottom: 50px;
  /* border: 1px solid black; */
}

.sect2Div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divOne {
  width: 40%;
  /* border: 1px solid; */
}

.divTwo {
  width: 60%;
}

.divOne p {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.divOne button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 100px;
  border: none;
  margin-top: 50px;
  width: 200px;
}

.divTwo {
  display: flex;
  align-items: center;
}

.bgDiv {
  /* border: 1px solid; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
  background: url(assets/images/bgdivTwo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 8%;
  position: absolute;
}

.flexDivTwo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bgInner {
  text-align: center;
  color: #ff4300;
  font-size: 16px;
  font-weight: 400;
}

.bgInner p {
  color: #ff4300;
  font-size: 16px;
  font-weight: 900;
}

.sectionThree {
  background-color: #959392;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sect3Div {
  display: flex;
  justify-content: start;
}

.whyDiv {
  width: 50%;
  /* border: 1px solid; */
  padding-left: 50px;
  padding-right: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.whyTitle {
  font-size: 48px;
  font-weight: 600;
  width: 45%;
  color: white;
}

.whyTitle span {
  color: #ff4300;
}

.classBody {
  color: white;
  width: 35%;
  font-weight: 600;
}

.whyDiv button {
  background-color: #ff4300;
  padding: 10px;
  border: none;
  border-radius: 100px;
  width: 140px;
  color: white;
  font-weight: 600;
  margin-top: 70px;
}

.playDiv {
  border: 2px solid white;
  width: 120px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
}

.playDiv img {
  width: 20px;
}

.sectionFour {
  padding-top: 200px;
  padding-bottom: 100px;
}

.sect4Div {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid; */
  display: flex;
}

.sect4Div1 {
  width: 30%;
  /* border: 1px solid; */
}

.sect4Div2 {
  width: 80%;
  /* border: 1px solid; */
}

.sect4Div1 .p1 {
  font-size: 48px;
  width: 50%;
  font-weight: 600;
  margin: 0;
}

.sect4Div1 .p1 span {
  color: #ff4300;
}

.sect4Div1 .p2 {
  width: 70%;
  font-size: 16px;
  font-weight: 500;
}

.sect4Div1 button {
  width: 200px;
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 100px;
  font-stretch: extra-expanded;
}

.sect4Div2 img {
  width: 100%;
}

.sectionFive {
  padding-bottom: 50px;
}

.sect5Div p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.brandDiv {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
}

.brandDiv div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 2px lightgrey;
  border-radius: 20px;
}

.brandDiv2 {
  width: 42%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.brandDiv2 div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px 2px lightgrey;
  border-radius: 20px;
}

.brandDiv div:hover {
  transform: scale(1.1);
}

.brandDiv2 div:hover {
  transform: scale(1.1);
}

.sectionSix {
  background-color: #2c2926;
  padding-top: 50px;
  padding-bottom: 100px;
}

.sect6Div {
  display: flex;
  justify-content: space-between;
}

.sect6Div1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* border: 1px solid; */
  text-align: center;
}

.sect6Title {
  font-size: 48px;
  color: white;
  font-weight: 900;
  text-align: center;
}

.sect6Div1 h1 {
  font-size: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sect6Div1 .title {
  font-size: 28px;
  margin: 0;
  font-weight: 600;
}

.sect6Div1 .body {
  font-size: 16px;
  width: 70%;
}

.sectionSeven {
  padding-top: 300px;
  padding-bottom: 300px;
}

.rounded {
  height: 420px;
  width: 90%;
  /* border: 1px solid; */
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background-color: #ff4300;
}

.mobileDiv {
  width: 80%;
  /* border: 1px solid; */
  margin-left: auto;
  margin-right: auto;
  /* padding: 20px; */
  transform: translateY(-220px);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mInnerDiv {
  width: 40%;
}

.mInnerDiv .p1 {
  font-size: 48px;
  color: white;
  font-weight: bold;
  width: 60%;
  text-align: start;
  margin: 0;
}

.mInnerDiv .p2 {
  color: white;
  width: 80%;
}

.footerSection {
  background-color: #2c2926;
  color: white;
  padding-bottom: 20px;
}

.footerDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid; */
}

.footDiv1 {
  width: 20%;
  /* border: 1px solid; */
}

.footLogo {
  width: 70%;
  margin-top: 50px;
}
.footDiv2 {
  width: 70%;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footDiv2 span {
  font-size: 16px;
  font-weight: bold;
}

.socialsDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.socialsDiv img {
  width: 25px;
}

.region {
  /* border: 1px solid; */
  width: 15%;
  float: right;
  transform: translateY(-43px);
}

.region p {
  margin: 0;
}

.region .p1 {
  font-size: 12px;
  font-weight: 500;
}

.region .p2 {
  font-size: 16px;
}

.copyDiv {
  width: 90%;
  border-top: 1px solid gray;
  margin-left: auto;
  margin-right: auto;
  /* padding: 10px; */
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyOne {
  width: 30%;
}

.copyOne p {
  font-size: 14px;
}

.copyTwo {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyTwo span {
  font-weight: 600;
}

.mobileNav {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .mobileNav {
    display: block;
    padding: 20px;
    background-color: #f8f4f2;
  }

  .mobileNavDiv {
    display: flex;
    justify-content: space-between;
  }

  .mNav1 {
    width: 35%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mNav1 button {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 100px;
    width: 100px;
    font-size: 14px;
    padding: 10px;
  }

  .mNav1 img {
    width: 25px;
    height: 25px;
  }

  .mNLogo {
    width: 25%;
  }

  .allHero {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
    align-items: center;
    transform: translate(0px, -80px);
  }

  .heroSection {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: baseline;
    align-items: center;
    /* border: 1px solid black; */
  }

  .heroSection img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .heroCaption {
    transform: translate(0px, 0px);
    background-color: #2c2926;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heroCaption h1 {
    font-size: 44px;
    text-align: center;
    color: white;
  }

  .heroCaption p {
    font-size: 16px;
    text-align: center;
    color: white;
  }

  .heroCaption .button {
    font-size: 16px;

    width: 70%;
  }

  .heroCaption span {
    color: white;
    font-weight: bold;
  }

  .heroFooter {
    background-color: none;
    /* border: 1px solid white; */
    transform: translateY(20px);
  }

  .heroFooter p {
    font-size: 16px;
    display: none;
  }

  .heroFooter span {
    font-size: 40px;
    margin-right: 50px;
  }

  .sectionTwo {
    padding-top: 0px;
    padding-bottom: 0px;
    /* border: 1px solid black; */
  }

  .sect2Div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .divOne {
    width: 100%;
    /* border: 1px solid; */
  }

  .divTwo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    /* border: 1px solid; */
  }

  .divOne p {
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
  }

  .divOne button {
    background-color: #2c2926;
    color: white;
    padding: 10px;
    border-radius: 100px;
    border: none;
    margin-top: 50px;
    width: 200px;
  }

  .bgDiv {
    border: 1px green;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    background: url(assets/images/bgdivTwo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 8%;
    /* position: static; */
  }

  .flexDivTwo {
    /* transform: translateX(-70px); */
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    overflow-x: scroll;
    /* border: 1px solid red; */
  }

  .bgInner {
    text-align: center;
    color: #ff4300;
    font-size: 16px;
    font-weight: 400;
  }

  .bgInner p {
    color: #ff4300;
    font-size: 16px;
    font-weight: 900;
  }

  .sectionThree {
    padding: 0;
  }
  .sect3Div {
    /* border: 1px solid; */
    padding: 0;
    width: 90%;
  }

  .whyDiv {
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0;
  }

  .whyInner {
    width: 100%;

    /* border: 1px solid; */
    background-color: #2c2926;
    padding-left: 40px;
    padding-bottom: 50px;
  }

  .whyTitle {
    font-size: 34px;
    width: 65%;
  }

  .classBody {
    font-size: 16px;
  }
  .playerDiv {
    /* border: 1px solid; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #959392;
  }

  .playDiv {
    width: 50px;
    height: 50px;
  }

  .sectionFour {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .sect4Div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
  }

  .sect4Div1 {
    width: 100%;
    /* border: 1px solid; */
  }

  .sect4Div2 {
    width: 100%;
    margin-top: 50px;
    /* border: 1px solid; */
  }

  .sect4Div1 .p1 {
    font-size: 34px;
    width: 50%;
    font-weight: 600;
    margin: 0;
  }

  .sect4Div1 .p1 span {
    color: #ff4300;
  }

  .sect4Div1 .p2 {
    width: 70%;
    font-size: 16px;
    font-weight: 500;
  }

  .sect4Div1 button {
    width: 200px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 100px;
    font-stretch: extra-expanded;
  }

  .sect4Div2 img {
    width: 100%;
  }

  .sectionFive {
    padding-bottom: 50px;
  }

  .sect5Div p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .brandDiv {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .brandDiv div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 2px lightgrey;
    border-radius: 20px;
  }

  .brandDiv2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-top: 30px;
  }

  .brandDiv2 div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 2px lightgrey;
    border-radius: 20px;
  }

  .brandDiv div:hover {
    transform: scale(1.1);
  }

  .brandDiv2 div:hover {
    transform: scale(1.1);
  }

  .sectionSix {
    background-color: #2c2926;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .sect6Div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sect6Div1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* border: 1px solid; */
    text-align: center;
    margin-top: 40px;
  }

  .sect6Title {
    font-size: 34px;
    color: white;
    font-weight: 900;
    text-align: center;
  }

  .sect6Div1 h1 {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sect6Div1 .title {
    font-size: 28px;
    margin: 0;
    font-weight: 600;
  }

  .sect6Div1 .body {
    font-size: 16px;
    width: 70%;
  }

  .sectionSeven {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ff4300;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
  }

  .rounded {
    display: none;
  }

  .mobileDiv {
    height: auto;
    width: 60%;
    /* border: 1px solid; */
    margin-left: auto;
    margin-right: auto;
    /* padding: 20px; */
    transform: translateY(70px);
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

  .mockPic {
    transform: scale(70%) translateY(-150px);
  }

  .mInnerDiv {
    width: 100%;
    height: auto;
  }

  .mInnerDiv .p1 {
    font-size: 34px;
    color: white;
    font-weight: bold;
    width: 70%;
    text-align: start;
    margin: 0;
  }

  .mInnerDiv .p2 {
    color: white;
    width: 80%;
  }

  .footerSection {
    background-color: #2c2926;
    color: white;
    padding-bottom: 20px;
    padding: 30px;
  }

  .footerDiv {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* border: 1px solid; */
  }

  .footDiv1 {
    width: 40%;
    /* border: 1px solid; */
  }

  .footLogo {
    width: 70%;
    margin-top: 50px;
  }
  .footDiv2 {
    width: 70%;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    /* margin-top: 10px; */
  }

  .footDiv2 span {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }

  .socialsDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  .socialsDiv img {
    width: 25px;
  }

  .region {
    /* border: 1px solid; */
    width: 30%;
    float: left;
    transform: translateY(0);
    margin-top: 40px;
    padding-bottom: 20px;
  }

  .region p {
    margin: 0;
  }

  .region .p1 {
    font-size: 12px;
    font-weight: 500;
  }

  .region .p2 {
    font-size: 16px;
  }

  .copyDiv {
    width: 100%;
    border-top: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  .copyOne {
    width: 100%;
  }

  .copyOne p {
    font-size: 14px;
  }

  .copyTwo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .copyTwo span {
    width: 15%;
    font-weight: 500;
    text-align: center;
  }
}
